mixin type-card( img,title, text)
    // type-card
    .type-card 
        .type-card__img
            img.type-icon(src=img)
        .type-card__content
            h5.subtitle.subtitle--small=title
            p.custom-text=text
    // / type-card